.history-header{
    margin-top: 100px;
}
.history-header-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-header-right > h1{
    position: absolute;
    color: #fff;
    font-size: 48px;
}